<%- include("partials/header"); -%>
<h1>All Messages:</h1>


<br><br>
<%  allPosts.forEach(function(post){ %>

    <h3>Title: <%=post.title%></h3>
    <p>
    Message: <%=post.content%>
    </p>
    <p>
<!-- ONLY users that are members should be able to see the author and date of each message. -->
<% if (currentUser) {%>
    <% if (currentUser.membershipStatus===true) { %> 
    Created by: <%=post.creator.username%>
    </p>
    <p>
    Date: <%=post.date%>
    </p>
    <% }  %>
<% }  %>

<% }) %>

<br><br>




<%- include("partials/footer"); -%>